In [1]:
import os
import pandas as pd

csv_dl_folder = 'price_csv_dl'
week_month_folder = 'etf_week_month_data'
if not os.path.exists(week_month_folder):
    os.mkdir(week_month_folder)


def to_df(folder):
    files = os.listdir(folder)
    df_closes = []
    df_empty = True

    for file in files:
        etf_name = file.split('.')[0]
        file = os.path.join(folder, file)

        df = pd.read_csv(file)

        df_close = df[['Date', 'Close']]
        df_close.rename(columns={'Close': etf_name}, inplace=True)

        if df_empty:
            df_closes = df_close
            df_empty = False
            continue

        df_closes = pd.merge(df_closes, df_close, on='Date', how='outer')
    return df_closes


# Financials Equity folder
price_folders = os.listdir(csv_dl_folder)
fe_folder = price_folders[0]
fe_price_folder = os.path.join(csv_dl_folder, fe_folder)

fe_etf_df = to_df(fe_price_folder)
fe_etf_df.head(10)

/home/denny/anaconda3/envs/mysql/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Date,FNCL,BDCL,IYG,BDCZ,IAI,PFI,KBWP,KBE,RWW,...,IAK,FAZ,DPST,KBWB,FINU,SEF,IYF,XLF,BDCS,WDRW
0,2015-12-31,28.299999,15.980000,89.980003,20.270000,41.520000,30.690001,48.060001,33.820000,48.090000,...,51.150002,41.180000,32.799999,37.590000,40.134998,33.740002,88.379997,19.358246,20.280001,35.939999
1,2016-01-04,27.750000,16.219999,87.910004,19.920000,40.419998,29.860001,46.630001,33.049999,46.939999,...,49.759998,43.410000,29.129999,36.700001,36.205002,34.500000,86.680000,18.984566,20.240000,35.939999
2,2016-01-05,27.879999,16.450001,87.790001,19.920000,40.310001,30.250000,47.200001,32.990002,47.090000,...,50.220001,42.959999,29.500000,36.669998,37.000000,34.439999,87.070000,19.057676,20.430000,35.939999
3,2016-01-06,27.520000,16.360001,86.250000,19.920000,39.439999,29.860001,46.680000,32.509998,46.230000,...,49.169998,44.779999,28.490000,36.020000,35.349998,34.880001,85.889999,18.765232,20.480000,35.939999
4,2016-01-07,26.770000,15.750000,83.559998,19.920000,38.200001,29.200001,45.680000,31.510000,44.820000,...,48.169998,48.360001,26.671000,34.869999,32.625000,35.759998,83.559998,18.237206,19.969999,35.939999
5,2016-01-08,26.320000,15.530000,82.010002,19.930000,37.709999,28.830000,45.400002,30.870001,44.139999,...,47.500000,50.599998,24.790001,34.110001,32.610001,36.240002,82.269997,17.952885,19.750000,35.939999
6,2016-01-11,26.420000,14.180000,82.430000,19.930000,37.680000,28.969999,45.490002,30.850000,43.790001,...,47.660000,50.099998,24.032000,34.200001,31.105000,36.220001,82.559998,17.977255,18.920000,47.959999
7,2016-01-12,26.540001,13.900000,83.029999,18.809999,37.830002,28.930000,45.700001,30.950001,44.330002,...,47.900002,49.360001,24.559999,34.509998,31.490000,36.020000,82.989998,18.115353,18.770000,239.800003
8,2016-01-13,25.809999,12.900000,80.269997,18.809999,36.150002,28.420000,45.009998,29.889999,43.509998,...,47.119999,53.160000,21.840000,33.340000,29.000000,37.020000,80.800003,17.644192,18.299999,260.390015
9,2016-01-14,26.030001,12.840000,81.239998,18.809999,36.650002,28.690001,45.779999,30.230000,43.970001,...,47.580002,51.610001,21.700001,33.669998,30.370001,36.619999,81.570000,17.798538,18.219999,255.794998

In [2]:
import datetime

per_week_data = []
per_month_data = []


def get_weekday(date_string):
    date_lt = list(map(int, date_string.split('-')))
    date_weekday = datetime.date(date_lt[0], date_lt[1], date_lt[2]).weekday()
    return date_weekday


def get_month(date_string):
    date_lt = list(map(int, date_string.split('-')))
    return date_lt[1]


# Get week and month month with dataframe
for idx, date_string in enumerate(fe_etf_df['Date']):
    if idx == len(fe_etf_df['Date']) - 1:
        continue
    if get_weekday(fe_etf_df['Date'][idx]) > get_weekday(fe_etf_df['Date'][idx + 1]):
        per_week_data.append([fe_etf_df['Date'][idx], idx])
    if get_month(fe_etf_df['Date'][idx]) != get_month(fe_etf_df['Date'][idx + 1]):
        per_month_data.append([fe_etf_df['Date'][idx], idx])

In [3]:
print(per_week_data, len(per_week_data))
print(per_month_data, len(per_month_data))

[['2015-12-31', 0], ['2016-01-08', 5], ['2016-01-15', 10], ['2016-01-22', 14], ['2016-01-29', 19], ['2016-02-05', 24], ['2016-02-12', 29], ['2016-02-19', 33], ['2016-02-26', 38], ['2016-03-04', 43], ['2016-03-11', 48], ['2016-03-18', 53], ['2016-03-24', 57], ['2016-04-01', 62], ['2016-04-08', 67], ['2016-04-15', 72], ['2016-04-22', 77], ['2016-04-29', 82], ['2016-05-06', 87], ['2016-05-13', 92], ['2016-05-20', 97], ['2016-05-27', 102], ['2016-06-03', 106], ['2016-06-10', 111], ['2016-06-17', 116], ['2016-06-24', 121], ['2016-07-01', 126], ['2016-07-08', 130], ['2016-07-15', 135], ['2016-07-22', 140], ['2016-07-29', 145], ['2016-08-05', 150], ['2016-08-12', 155], ['2016-08-19', 160], ['2016-08-26', 165], ['2016-09-02', 170], ['2016-09-09', 174], ['2016-09-16', 179], ['2016-09-23', 184], ['2016-09-30', 189], ['2016-10-07', 194], ['2016-10-14', 199], ['2016-10-21', 204], ['2016-10-28', 209], ['2016-11-04', 214], ['2016-11-11', 219], ['2016-11-18', 224], ['2016-11-25', 228], ['2016-12-02', 233], ['2016-12-09', 238], ['2016-12-16', 243], ['2016-12-23', 248], ['2016-12-30', 252], ['2017-01-06', 256], ['2017-01-13', 261], ['2017-01-20', 265], ['2017-01-27', 270], ['2017-02-03', 275], ['2017-02-10', 280], ['2017-02-17', 285], ['2017-02-24', 289], ['2017-03-03', 294], ['2017-03-10', 299], ['2017-03-17', 304], ['2017-03-24', 309], ['2017-03-31', 314], ['2017-04-07', 319], ['2017-04-13', 323], ['2017-04-21', 328], ['2017-04-28', 333], ['2017-05-05', 338], ['2017-05-12', 343], ['2017-05-19', 348], ['2017-05-26', 353], ['2017-06-02', 357], ['2017-06-09', 362], ['2017-06-16', 367], ['2017-06-23', 372], ['2017-06-30', 377], ['2017-07-07', 381], ['2017-07-14', 386], ['2017-07-21', 391], ['2017-07-28', 396], ['2017-08-04', 401], ['2017-08-11', 406], ['2017-08-18', 411], ['2017-08-25', 416], ['2017-09-01', 421], ['2017-09-08', 425], ['2017-09-15', 430], ['2017-09-22', 435], ['2017-09-29', 440], ['2017-10-06', 445], ['2017-10-13', 450], ['2017-10-20', 455], ['2017-10-27', 460], ['2017-11-03', 465], ['2017-11-10', 470], ['2017-11-17', 475], ['2017-11-24', 479], ['2017-12-01', 484], ['2017-12-08', 489], ['2017-12-15', 494], ['2017-12-22', 499], ['2017-12-29', 503], ['2018-01-05', 507], ['2018-01-12', 512], ['2018-01-19', 516], ['2018-01-26', 521], ['2018-02-02', 526], ['2018-02-09', 531], ['2018-02-16', 536], ['2018-02-23', 540], ['2018-03-02', 545], ['2018-03-09', 550], ['2018-03-16', 555], ['2018-03-23', 560], ['2018-03-29', 564], ['2018-04-06', 569], ['2018-04-13', 574], ['2018-04-20', 579], ['2018-04-27', 584], ['2018-05-04', 589], ['2018-05-11', 594], ['2018-05-18', 599], ['2018-05-25', 604], ['2018-06-01', 608], ['2018-06-08', 613], ['2018-06-15', 618], ['2018-06-22', 623], ['2018-06-29', 628], ['2018-07-06', 632], ['2018-07-13', 637], ['2018-07-20', 642], ['2018-07-27', 647], ['2018-08-03', 652], ['2018-08-10', 657], ['2018-08-17', 662], ['2018-08-24', 667], ['2018-08-31', 672], ['2018-09-07', 676], ['2018-09-14', 681], ['2018-09-21', 686], ['2018-09-28', 691], ['2018-10-05', 696], ['2018-10-12', 701], ['2018-10-19', 706], ['2018-10-26', 711], ['2018-11-02', 716], ['2018-11-09', 721], ['2018-11-16', 726], ['2018-11-23', 730], ['2018-11-30', 735], ['2018-12-07', 739], ['2018-12-14', 744], ['2018-12-21', 749], ['2018-12-28', 753], ['2019-01-04', 757], ['2019-01-11', 762], ['2019-01-18', 767], ['2019-01-25', 771], ['2019-02-01', 776], ['2019-02-08', 781], ['2019-02-15', 786], ['2019-02-22', 790], ['2019-03-01', 795], ['2019-03-08', 800], ['2019-03-15', 805]] 168
[['2015-12-31', 0], ['2016-01-29', 19], ['2016-02-29', 39], ['2016-03-31', 61], ['2016-04-29', 82], ['2016-05-31', 103], ['2016-06-30', 125], ['2016-07-29', 145], ['2016-08-31', 168], ['2016-09-30', 189], ['2016-10-31', 210], ['2016-11-30', 231], ['2016-12-30', 252], ['2017-01-31', 272], ['2017-02-28', 291], ['2017-03-31', 314], ['2017-04-28', 333], ['2017-05-31', 355], ['2017-06-30', 377], ['2017-07-31', 397], ['2017-08-31', 420], ['2017-09-29', 440], ['2017-10-31', 462], ['2017-11-30', 483], ['2017-12-29', 503], ['2018-01-31', 524], ['2018-02-28', 543], ['2018-03-29', 564], ['2018-04-30', 585], ['2018-05-31', 607], ['2018-06-29', 628], ['2018-07-31', 649], ['2018-08-31', 672], ['2018-09-28', 691], ['2018-10-31', 714], ['2018-11-30', 735], ['2018-12-31', 754], ['2019-01-31', 775], ['2019-02-28', 794]] 39

In [4]:
week_data_all = {}
month_data_all = {}
for etf in fe_etf_df.columns:
    if etf == 'Date':
        continue
    week_data = []
    month_data = []
    for idx, (_, week_end_idx) in enumerate(per_week_data):
        if idx == 0:
            continue
        this_week = float(fe_etf_df[etf][week_end_idx])
        last_week = float(fe_etf_df[etf][per_week_data[idx - 1][1]])
        week_data.append((this_week - last_week) / this_week)
    for idx, (_, month_end_idx) in enumerate(per_month_data):
        if idx == 0:
            continue
        this_month = float(fe_etf_df[etf][month_end_idx])
        last_month = float(fe_etf_df[etf][per_month_data[idx - 1][1]])
        month_data.append((this_month - last_month) / this_month)

    week_data_all[etf] = week_data
    month_data_all[etf] = month_data

df_week_data = pd.DataFrame(week_data_all)
df_month_data = pd.DataFrame(month_data_all)

df_week_data.to_csv(os.path.join(week_month_folder, 'fe_week_data.csv'), index=False)
df_month_data.to_csv(os.path.join(week_month_folder, 'fe_month_data.csv'), index=False)